header,
footer {
  text-align: center;
}

footer {
  padding: 5px 0;
  background-color: #f8f9fa;
}

header {
  padding: 5px 10%;
  background-color: #060606;
}

header h1 {
  margin: 10px;
  color: #fff;
  font-size: 2rem;
  width: 100%;
}

main {
  display: flex;
  align-items: center;
}

.column-imagen {
  flex: 0 0 30%;
  padding: 50px 10px 50px 50px;
}

.column-datos {
  padding: 50px;
}

.logo-uade {
  max-width: 100%;
  height: auto;
}

.foto-perfil {
  max-width: 100%;
  height: auto;
  min-width: 450px;
  border-radius: 5%;
}

@media screen and (max-width: 768px) {
  main {
    flex-direction: column;
  }

  .column-imagen,
  .column-datos {
    flex: 1 1 auto;
    width: 100%;
    padding: 20px;
  }

  .foto-perfil {
    min-width: auto;
  }
}

footer img {
  width: 7rem;
  height: 4rem;
  padding: 0.4rem;
}

.text-bold {
  font-weight: bold;
}
